* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    position: relative;
    background-color: rgb(218, 219, 213);
}

.header_green {
    background-color: rgb(64, 169, 155);
    height: 100px;
    width: 100%;
}

.wrapper {
display: flex;
width: 90%;
position: absolute;
top: 30px;
bottom: 30px;
left: 50%;
transform: translateX(-50%);
}

.img_avatar {
    margin-left: 10px;
    width: 50px;
}

.header_ic {
    display: inline-block;
}

.header_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    height: 70px;
    color: rgb(128, 128, 128);
    width: 100%;
   flex-shrink: 0;
}

.contact_bar {
    display: flex;
    border-right: 1px solid rgb(189, 173, 173);
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 380px;
    height: 100%;
  }

.icon_search {
    width: 10%;
    border: none;
    border-radius: 50%;
}

.search {
    width: 80%;
    border: none;
}

.rubrica {
    flex-grow: 1;
    background-color: rgb(237, 237, 237);
    overflow: auto;
}

.contact {
    display:flex; 
    flex-direction: column ;
    padding: 10px 5px;
    background:white;
    border-bottom: 1px solid rgb(211 211 211); 

}

.contact .selected {
    display:flex; 
    flex-direction: column ;
    padding: 10px 5px;
    background:white;
    border-bottom: 1px solid rgb(211 211 211); 
    }

.immagine {
    display: flex;
    flex-direction: row;
}

.text_test {
    font-size: 10px;
    margin-top: -30px;
    margin-left: 80px;
    color: rgb(0, 0, 0);
}


.img-contact {
    width: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 10px;

}

.text_rubrica {
    display: flex;
    flex-direction: column ;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    font-weight: 900;
}

.text_test {
    display: flex;
    flex-direction: column;
    padding-top: 11px;
} 

.name-contact {
    padding:10px;
}

.barra_notifiche {
    display: flex;
    background-color: rgb(233, 231, 231);
    padding: 10px;
}

.notifiche_descr {
   position: absolute;
   margin-left: 50px;
}

.contenuto_notifiche {
    background-color: rgb(255, 255, 255);
    padding: 6px;
    margin: 5px;
    border-radius: 50%;
}

.text_notifiche {
    font-style: italic;
    list-style: none;
    margin-bottom: 5px;
    margin-left: 13px;
}

.box_chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.chat_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    height: 60px;
    color: rgb(128, 128, 128);
    flex-shrink: 0;
}

.text {
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: none;
    padding-left: 15px;
    border-radius: 10px;
}

.text-chat p {
    margin-top:10px;
}

.testo{
    max-width: 600px;
    max-height: 5px;
 }

 .inviato {
    position: relative;
    border-radius: 2px;
    margin: 5px;
}

 .freccina {
    position: absolute;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    width: 0; 
    height: 0; 
    top: 0;
 }

.sent .freccina {
    border-top: 9px solid #d5f1c0;
    right: -9px;
}
.received .freccina {
    border-top: 9px solid #ffffff;
     left: -9px;   
}

.x-icon {
    color: gray;
    margin-top: 10px;
    margin-left: 5px;
}

.text-chat {
    background-image: url(/imgs/mine.jpg);
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    padding-top: 10px;
}

 .chat_icons {
    display: inline-block;
    list-style: none;
    padding: 8px; 
 }

 .sent {
    display: flex;
    flex-direction: column;
    background: #d5f1c0;
    padding:10px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 8px;
    margin-left: 530px;
}
 
 .received {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 8px;
    margin-right: 530px;
    margin-left: 20px;
 }

.input_chat {
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 231, 231);
 }

 .new-message {
    width:90%;
    padding:8px;
    border-radius: 5px;
    border: none;
 }

 .icone_chat {
    margin-left: 350px;
}

 .f-i {
     padding:15px;
 }

.bar_search {
    display: flex;
    padding:8px;
    background-color: rgb(233, 231, 231);
}

.icone_header {
    display: inline-block;
    margin: 8px;
}

i {
    color:rgb(148, 148, 148)
}

.campanella{
    color:#0db2fa6b ;
}

.image-contact{
    background-color: rgb(255, 255, 255);
    padding: 10px 25px 15px 20px;
    border-radius: 50%;
}

 .date {
     font-size: 8px;
     text-align: right;
 }

.fa-chevron-down {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 12px;
    color: rgb(192, 184, 184);
    display: none;
}
