* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#128C7E 14%, #bdbdbd 10%);
}

.container {
    display: flex;
    width: 80%;
    height: 93%;
    background:white;
}

.img_avatar {
    margin-left: 10px;
    width: 50px;
}

.header_ic {
    display: inline-block;
}

.header_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.contact_bar {
    flex-basis: 36%;
    background: white;
}

.icon_search {
    width: 10%;
    border: none;
    border-radius: 50%;
}

.search {
    width: 80%;
    border: none;
}

.contact {
    padding: 10px;
    border-bottom: 1px solid rgb(187, 187, 187); 
}

.rubrica {
    height: 60%;
    overflow: auto;
}

.img-contact {
    width:50px;
}

.name-contact {
    font-size: 18px;
    padding:10px;
}

.barra_notifiche {
    display: flex;
    background-color:  #3297c26b;
    padding: 10px;
}

.notifiche_descr {
   position: absolute;
   margin-left: 50px;
}
.contenuto_notifiche {
    background-color: rgb(255, 255, 255);
    padding: 6px;
    margin: 5px;
    border-radius: 50%;
}

.text_notifiche {
    font-style: italic;
    list-style: none;
    margin-bottom: 5px;
    margin-left: 13px;
}

.box_chat {
    display: flex;
    flex-direction: column;
    flex-basis:100%;
}

.chat_contact {
    display: flex;
    background:#f1eeee;
    align-items: center;
    padding:10px;
    justify-content: space-between;
}

.text {
    width: 80%;
    border-radius: 5px;
    height: 30px;
    border: none;

}

.text-chat p {
    margin: 15px;
}

.x-icon {
    color: gray;
    margin-top: 10px;
    margin-left: 5px;
}

.text-chat {
    background-image: url(/imgs/mine.jpg);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 15px;
}

 .chat_icons {
    display: inline-block;
    padding: 12px; 
    list-style: none;
 }

 .sent {
    background: #d5f1c0;
    margin-left: 485px;
    padding:10px;
    border-radius: 5px;
    margin-right: 12px;
    margin-bottom: 8px;
}
 
 .received {
    background: #ffffff;
    padding: 8px;
    margin-right:490px ;
    margin-left:25px ;
 }

.input_chat {
    padding: 10px;
    background:#f0f0f0;
    display: flex;
    justify-content: flex-start;
     display: flex;
     justify-content: space-between;
    /* padding: 10px;
    background:#ffffff;
    height: 70px;
    width: max-content; */
 }

 .new-message {
    width:80%;
    padding:10px;
    border-radius: 5px;
    border: none;
 }

 .icone_chat {
    margin-left: 475px;
}

 .f-i {
     padding:15px;
 }

.bar_search {
    padding:5px;
    background-color: rgb(158 158 158 / 8%);
    display: flex;}

.icone_header {
    display: inline-block;
    margin: 8px;
}

i {
    color:rgb(148, 148, 148)
}

.campanella{
    color:#0db2fa6b ;
}

.contact:hover{
    background:#d0d6d5
}

.image-contact{
    background-color: rgb(255, 255, 255);
    padding: 10px 25px 15px 20px;
    border-radius: 50%;
    margin-right: 10px; 
}

.testo{
    max-width: 600px;
    max-height: 5px;
 }

 .date{
     font-size: 10px;
     text-align: right;
 }